[Unit]
Description=Shisho Discord Bot
After=network.target

[Service]
Type=simple
User=sadako
Group=sadako
WorkingDirectory=/home/sadako/Documents/github/shisho
ExecStart=/home/sadako/Documents/github/shisho/.venv/bin/python main.py
Restart=always
RestartSec=5
EnvironmentFile=/home/sadako/Documents/github/shisho/.env

[Install]
WantedBy=multi-user.target
