[Unit]
Description=Shisho Discord Bot
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/shisho
ExecStart=/root/shisho/.venv/bin/python main.py
Restart=always
RestartSec=5
EnvironmentFile=/root/shisho/.env

[Install]
WantedBy=multi-user.target
